In [1]:
n=int(input("Enter the number"))
if(n%2==0):
    print("The number is even number")
else:
    print("The number is odd number")

Enter the number 4

The number is even number

### Positive or Negative

In [3]:
n=int(input("Enter a number"))
if(n>0):
      print("The number is positive")
elif(n==0):
    print("The numbet is zero")
else:
    print("The number is negative")

Enter a number -7

The number is negative

### Leap year or not

In [6]:
n=int(input("Enter the year"))
if(n%400==0):
    print("The year is leap year")
if(n%100==0):
    print("The year is leap year")
elif(n%4==0):
    print("The year is leap year")
else:
    print("The year is not a leap year")

Enter the year 2024

The year is leap year

### Multiplication table

In [14]:
for i in range(1,6):
    print("Multiplication table of",i,"is")
    for j in range(1,11):
        print(i,"x",j,"=",i*j)

Multiplication table of 1 is
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Multiplication table of 2 is
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Multiplication table of 3 is
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Multiplication table of 4 is
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Multiplication table of 5 is
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Calculator

In [21]:
symbol=input("for simple calculator + for addition,- for difference, / for division,* for multiplication")
n1=float(input("enter the number1"))
n2=float(input("enter the number2"))
match symbol:
    case'+':
        print(n1,"+",n2,"=",n1+n2)
    case'-':
        print(n1,"-",n2,"=",n1-n2)
    case'*':
        print(n1,"*",n2,"=",n1*n2)
    case'/':
        print(n1,"/",n2,"=",n1/n2)

for simple calculator + for addition,- for difference, / for division,* for multiplication +
enter the number1 7
enter the number2 5

7.0 + 5.0 = 12.0

### Factor

In [18]:
f=int(input("enter the number"))
n=f
for i in range(1,f+1):
    if f%i==0:
        print("factor of",n,"are",i)

enter the number 5

factor of 5 are 1
factor of 5 are 5

### Reverse of a number

In [19]:
num=int(input("enter the number"))
rs=0
while num!=0:
    r=num%10
    rs=rs*10+r
    num=num//10
print("reverse number is",str(rs))

enter the number 123

reverse number is 321

### Fibonacci

In [22]:
n=int(input("Enter the terms"))
a,b=0,1
for i in range(n):
    print(a)
    a,b=b,a+b

Enter the terms 5

0
1
1
2
3

### Prime number

In [4]:
n=int(input("Enter a number"))
if n>1:
    for i in range(2,n//2+1):
        if(n%i)==0:
            print(n,"is not a prime number")
        else:
            print(n,"is a prime number")

Enter a number 2

### sum of numbers

In [3]:
a=int(input("Enter the starting range"))
b=int(input("Enter the ending range"))
sum=0
for i in range(a,b+1):
    sum+=i
print(sum)

Enter the starting range 1
Enter the ending range 5

15